{{ $laptopsPath := (printf "data/%s/vendors/laptops.toml" $.Language.Lang) }}

{{ $laptopData := "" }}
{{ if (fileExists $laptopsPath) }}
  {{ $data := index .Site.Data $.Language.Lang }}
  {{ $laptopData = $data.vendors }}
{{ else }}
  {{ $dataDefault := index .Site.Data .Sites.Default.Language.Lang }}
  {{ $laptopData = $dataDefault.vendors }}
{{ end }}

{{ with $laptopData.laptops }}
<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Graphics</th>
      <th>Networking</th>
      <th>Audio</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {{ range (sort . "model" "asc") }}
    <tr>
      <td><strong>{{ .model }}</strong></td>
      <td>
        Score: {{ .graphics_score }}<br>
        <small>{{ delimit .graphics_devices ", " }}</small>
      </td>
      <td>
        Score: {{ .networking_score }}<br>
        <small>{{ delimit .networking_devices ", " }}</small>
      </td>
      <td>
        Score: {{ .audio_score }}<br>
        <small>{{ delimit .audio_devices ", " }}</small>
      </td>
      <td>
        <a href="{{ .probe_url }}">Probe</a>
        {{ if .comments_link }}
          | <a href="{{ .comments_link }}">Comments</a>
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

